{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block content %}

<div class="instructions well well-lg">

    <h3 class="panel-sub-heading">
         Activity Instructions
    </h3>

        <p>

            Thank you for completing the <strong> trial of the second phase of this session </strong>, Please answer the following questions,
            you may proceed to the actual second phase if you can answer all the questions correctly.

        </p>

        <p>
            please click the next button to proceed
        </p>
        <br/>
        {% next_button %}


{% endblock %}