{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Round History
{% endblock %}

{% block content %}
<table class="table">
<tr>
    <th><strong>Round</strong></th>
    <th>you</th>
    {% for other_player_id in other_player_ids %}
        <th>player {{ other_player_id }}</th>

    {% endfor %}

</tr>
{% for rh in round_history %}
<tr>
    <td><strong>{{ rh.round_number }}</strong></td>
    <td>{{ rh.me.catches }} </td>
    {% for other in rh.others %}
        <td>{{ other.catches }}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>

    {% next_button %}
{% endblock %}


