{% load otree_tags staticfiles %}

<div class="instructions well well-lg">



    <p>
        By now, you have learned the amount of your lab token, and the proportion that you should allocate to
        your co-participant.
    </p>

    <p>
        As <strong> the Sender </strong>, you will have to split {{ Constants.endowment }} with the other participant.
        You will be the one to
        decide how much she or he will retain. In this session, each of lab token share retrieved by the sender will be
        multiplied by <strong>2</strong>. Then the rest will go to
        the receiver.
        {% if subsession.is_bonus_treatment %}
            The receiver, however, will receive additional {{ subsession.bonus }} irrespective the proportion of
            lab token
            allocated by the receiver.
        {% endif %}

        The table below, exhibits the relative benefit to <strong> the Sender</strong> and
        <strong>the Receiver </strong> in each possible allocation chosen by <strong>the sender. </strong>
    </p>

    {% include 'dishonesty_app/includes/allocation_table.html' %}
    <p>
</div>