{% extends "global/Page.html" %}
{% load otree_tags staticfiles %}

{% block title %}
    Second Phase : The Allocation Task
{% endblock %}

{% block content %}
    <div class="instructions well well-lg">
        <p>DEBUG::</p>
        <h3>Average productivity:</h3>
        <h3>{{  session.vars.avgcatch}}</h3>
        <h3>Average payoff at RET:</h3>
        <h3>{{ session.vars.avgpoints }}</h3>

        <p>
            You are now in the second phase of our experiment, you are still paired randomly and anonymously with
            another participant.</p>

        <p>
            In this round, both the sender and the receiver will share {{ Constants.endowment }} lab token. <strong> The
            Sender </strong> will decide how much <strong> the sender </strong>
            will retain. Then the rest will go to <strong>the receiver</strong>.

            {% if subsession.is_bonus_treatment %}
                The receiver, however, will receive
                additional {{ subsession.bonus }} irrespective the amount of endowment you share with them.
            {% endif %}


            Prior to making a decision, our algorithm will generate a number that determines the proportion of your
            share. This information is only observed by <strong>the sender</strong>.
        </p>
    </div>

    {% next_button %}

{% endblock %}