{% extends "global/Page.html" %}
{% load otree_tags %}

{% block title %}Your Decision{% endblock %}

{% block content %}

    <p>
        {{ participant.vars.allocation }} is the suggested amount of allocation of lab token with
        your co-participant.

    </p>
    {% if subsession.is_real_effort_task_treatment %}
        <p> Your co-participant with whom you will share the endowment with, in the previous stage has earned
            <strong> {{player.get_partner_productivity}} </strong> and were able to catch <strong> {{player.get_partner_output}} </strong> red balls</p>
        <p> Meanwhile, Members of other groups have shown the following performance in the previous stage:
            average points earned <strong>{{session.vars.avgpoints}}</strong> points; average number of balls catched <strong>{{session.vars.avgcatch}}</strong> </p>
    {% endif %}

    {% formfield group.should_keep %}

    <p>

        You are <strong> The Sender </strong>. Now please provide the amount that you would like to allocate to your co-participant.
        {% if subsession.is_bonus_treatment %}
            Remember that the receiver will receive additional {{ subsession.bonus }}  irrespective the allocated amount
            of endowment
            received.
        {% endif %}


    </p>

    {% formfield group.kept %}


    {% next_button %}



{% endblock %}